:root {
  --bg-color-body: #141414;
  --bg-color-main: #28282B;
  --text-primary: #f9f9fb;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;
  --fs-700: 1.5625rem;
  --fs-400: 0.64rem;
  --fs-700-heading: 1rem;
}

body {
  background-color: var(--bg-color-body);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-400);
  min-height: 100dvh;
}

main{
  max-width: 50%;
  margin-inline: auto;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 4.5em;
  border-radius: 10%;
  border: solid #e5e7eb;
}

section h1, h2, h3{
  font-size: 1.2rem;
}

section p {
  font-size: 1.1rem;
}

.profile-card {
  background-color: var(--bg-color-main);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 2em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic-border{
  content: '';
  position: absolute;
  inset: 4px;
  z-index: -1;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #007bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  border-radius: 50%;
  animation: gradientborder 20s linear infinite;
  filter: blur(5px);
}

@keyframes gradientborder {
  0% { background-position: 0 0;}
  50% { background-position: 400% 0;}
  100% { background-position: 0 0;}
  
}

.profilepic {
  height: 132px;
  width: 132px;
  border-radius: inherit;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid var(--text-primary);
}

.profile-card h1 {
  font-size: 2.2rem;
  margin-bottom: 5px;
  color: var(--text-primary);
}

.profile-card h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--text-secondary);
}

.profile-card .profile-location {
  font-size: 1rem;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-inline: auto;
  margin-top: 20px;
}

button{
  background-color: var(--bg-color-body);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

button:last-child {
    margin-bottom: 0;
}

button:hover{
  background-color: white;
  color: var(--text-secondary);
  border-color: white;
}

.email-link-button {
  background-color: var(--bg-color-main);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
  max-width: 300px;
}
.email-link-button:last-of-type {
    margin-bottom: 0;
}

.email-link-button:hover {
  background-color: white;
  color: var(--text-secondary);
  border-color: white;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials a {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s ease;
  display: flex;
}

.socials a:hover {
  color: #007bff;
}

.socials li {
    display: flex;
}

.socials svg {
  height: 3rem;
  width: 3rem;
}

@media only screen and (max-width: 600px) {
  main{
    max-width: 80%;
}

section h1, h2{
  font-size: 1.5rem;
}
section p {
  font-size: 1.1rem;
}

}

@media only screen and (min-width: 768px) {
  main{
    max-width: 80%;
}

}

@media only screen and (min-width: 992px) {
  main {
    max-width: 85%;
  }
}