:root {
  /*colours*/
  --bg-color-body: #141414;
  --bg-color-main: #111827;
  --bg-color-footer: #222222;
  --text-primary: #f9f9fb;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;

  /*font sizes*/
  --fs-700: 1.5625rem;
  --fs-400: 0.64rem;
  --fs-700-heading: 1rem;
}

body {
  background-color: var(--bg-color-body);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-400);
  line-height: 1.7;
  min-height: 100dvh;
}

main{
  background-color: var(--bg-color-main);
  max-width: 50%;
  margin-inline: auto;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 4.5em;
}

section h1, h2{
  font-size: 35px;
}
section p {
  font-size: 20px;
}

.profilepic {
  height: 132px;
  width: 132px;
  margin: auto;
  border-radius: 50%;
}

.section-about .buttons-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttons-row > div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.section-about .buttons-row-2 {
  display: flex;
  justify-content: center;
}

button{
  background-color: var(--bg-color-main);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
  margin: 0 5px;
}

button:hover{
  background-color: white;
  color: var(--text-secondary);
  border-color: white;
}

/* START - Footer Styles */
.socials {
  background-color: var(--bg-color-footer);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials a {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s ease;
  display: flex;
}

.socials a:hover {
  color: #007bff;
}

.socials li {
    display: flex;
}

.socials svg {
  height: 24px;
  width: 24px;
}

/* END - Footer Styles */

/*START - MOBILE STYLES*/

@media only screen and (max-width: 600px) {
  main{
    max-width: 80%;
}
}

/*END - MOBILE STYLES*/

/*START - TABLET STYLES*/

@media only screen and (min-width: 768px) {
  
main{
  max-width: 70%;
}

button{
  font-size: 1rem;
}

}

/*END - TABLET STYLES*/

/*START - LAPTOP/DESKTOP STYLES*/
@media only screen and (min-width: 992px) {
  main {
    max-width: 50%;
  }
}

/*END - LAPTOP/DESKTOP STYLES*/